<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sideNavMode" [opened]="sideNavOpenToggleButton" [disableClose]="true"
    style="background-color: #ffffff;">
    <div>
      <button *ngIf="sideNavOpenToggleButton" mat-icon-button style="margin-top: 12px;"
        (click)="this.sideNavOpenToggleButton = !this.sideNavOpenToggleButton">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div>
      <mat-action-list>
        <a mat-list-item routerLink="/">All</a>
        <a mat-list-item *ngFor="let cat of categories" routerLink="/"
          [queryParams]="{ category: cat.id }">{{ cat.description }}</a>

        <!-- Skeleton Loaders -->
        <div *ngIf="skeletonLoader">
          <div style="padding: 6.5px 16px;">
            <ngx-skeleton-loader count="1" [theme]="{'height': '20px', 'width': '120px'}"></ngx-skeleton-loader>
          </div>
          <div style="padding: 6.5px 16px;">
            <ngx-skeleton-loader count="1" [theme]="{'height': '20px', 'width': '120px'}"></ngx-skeleton-loader>
          </div>
          <div style="padding: 6.5px 16px;">
            <ngx-skeleton-loader count="1" [theme]="{'height': '20px', 'width': '120px'}"></ngx-skeleton-loader>
          </div>
          <div style="padding: 6.5px 16px;">
            <ngx-skeleton-loader count="1" [theme]="{'height': '20px', 'width': '120px'}"></ngx-skeleton-loader>
          </div>
          <div style="padding: 6.5px 16px;">
            <ngx-skeleton-loader count="1" [theme]="{'height': '20px', 'width': '120px'}"></ngx-skeleton-loader>
          </div>
          <div style="padding: 6.5px 16px;">
            <ngx-skeleton-loader count="1" [theme]="{'height': '20px', 'width': '120px'}"></ngx-skeleton-loader>
          </div>
        </div>


      </mat-action-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="d-flex justify-content-between align-items-center">
      <button *ngIf="!sideNavOpenToggleButton" mat-icon-button
        (click)="sideNavOpenToggleButton = !sideNavOpenToggleButton" class="m-2">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-form-field>
        <input type="text" matInput placeholder="Search..." #input />
        <button mat-button matSuffix mat-icon-button (click)="clearInput()" *ngIf="input.value">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>


    <!-- Skeleton Loaders -->
    <div *ngIf="skeletonLoader">
      <div [class.cards-container]="!sideNavOpenToggleButton" [class.iconClicked]="sideNavOpenToggleButton">
        <div class="skel-container">
          <div class="skel-img">
            <ngx-skeleton-loader count="1" [theme]="{'height': '240px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-title" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
          <div class="skel-price" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-footer">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
        </div>
        <div class="skel-container">
          <div class="skel-img">
            <ngx-skeleton-loader count="1" [theme]="{'height': '240px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-title" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
          <div class="skel-price" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-footer">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
        </div>
        <div class="skel-container">
          <div class="skel-img">
            <ngx-skeleton-loader count="1" [theme]="{'height': '240px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-title" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
          <div class="skel-price" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-footer">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
        </div>
        <div class="skel-container">
          <div class="skel-img">
            <ngx-skeleton-loader count="1" [theme]="{'height': '240px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-title" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
          <div class="skel-price" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-footer">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
        </div>
        <div class="skel-container">
          <div class="skel-img">
            <ngx-skeleton-loader count="1" [theme]="{'height': '240px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-title" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
          <div class="skel-price" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-footer">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
        </div>
        <div class="skel-container">
          <div class="skel-img">
            <ngx-skeleton-loader count="1" [theme]="{'height': '240px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-title" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1"></ngx-skeleton-loader>
          </div>
          <div class="skel-price" style="margin-bottom: 20px;">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
          <div class="skel-footer">
            <ngx-skeleton-loader count="1" [theme]="{'width':'100px'}"></ngx-skeleton-loader>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div id="1" *ngIf="!noData" [class.cards-container]="!sideNavOpenToggleButton"
        [class.iconClicked]="sideNavOpenToggleButton">
        <product-card *ngFor="let prod of products" [product]="prod" [count]=""></product-card>
      </div>
      <div *ngIf="noData">
        <div class="NoDataContainer">
        </div>
      </div>
      <div>
        <mat-paginator [length]="length" [pageSize]="paginator.pageSize" [pageIndex]="0">
        </mat-paginator>
      </div>
    </div>

    <div>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
