* {
  box-sizing: border-box;
}

.cards-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 20px;
  /* grid-column-gap: 10px; */
  margin: 10px 10px;
  justify-items: center;
  align-items: center;
}

.iconClicked {
  display: grid;
  /* height: 60vh; */
  /* grid-auto-columns: auto; */
  grid-template-columns: 33.33% 33.33% 33.33%;
  padding: 20px;
  /* grid-column-gap: 10px; */
  margin: 10px 10px;
  justify-items: center;
  align-items: center;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
  margin: 0 10px;
}

mat-sidenav-container {
  min-height: 100%;
}

.NoDataContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url('/assets/img/empty-box.gif') no-repeat center;
  height: 62vh;
  background-size: 200px;
}

mat-sidenav,
mat-sidenav-content {
  padding: 10px;
  min-height: 100%;
}

mat-sidenav {
  position: fixed;
  top: 77px;
}

mat-sidenav {
  width: 20%;
  min-width: 250px;
}

.mat-paginator-container {
  box-shadow: 0 0 2px 2px #666;
}

@media(max-width: 600px){
  .cards-container {
    grid-template-columns: auto !important;
  }
}

@media (min-width: 601px) and (max-width: 768px){
  .cards-container {
    grid-template-columns: auto auto !important;
  }
}

@media (min-width: 769px) and (max-width: 1024px){
  .cards-container {
    grid-template-columns: auto auto auto !important;
  }
}

@media (min-width: 1025px){
  .cards-container {
    grid-template-columns: auto auto auto auto !important;
  }
}





