<div class="container" style="margin-top: 50px;">
  <div class="row shadow-lg rounded" style="background-color: white">
    <div class="col-md-7 col-sm-12 p-5">
      <form novalidate [(formGroup)]="productForm" #f="ngForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <div *ngIf="message" class="alert alert-success">
            {{ message }}
          </div>
          <div *ngIf="error" class="alert alert-danger">
            {{ error }}
          </div>
          <mat-form-field>
            <input matInput type="text" placeholder="Title" formControlName="title" />
            <mat-error *ngIf="this.productForm.get('title')?.hasError('required')">Title is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-icon matPrefix>attach_money</mat-icon>
            <input matInput type="number" placeholder="Price" formControlName="price" />
            <mat-error *ngIf="productForm.get('price')?.hasError('required')">Price is required</mat-error>
            <mat-error *ngIf="productForm.get('price')?.hasError('min')">Price can't be less than 1</mat-error>
            <mat-error *ngIf="productForm.get('price')?.hasError('pattern')">Invalid number</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
              <mat-option *ngFor="let cat of categories" [value]="cat">{{
                cat.description
              }}</mat-option>
            </mat-select>
            <mat-error *ngIf="this.productForm.get('category')?.hasError('required')">Category is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Image URL" formControlName="imageUrl" url />
            <mat-error *ngIf="this.productForm.get('imageUrl')?.hasError('required')">Image URL is required</mat-error>
            <mat-error *ngIf="this.productForm.get('imageUrl')?.hasError('url')">Incorrect URL</mat-error>
          </mat-form-field>
          <div class="d-flex justify-content-between p-2">
            <button [disabled]="f.invalid || submitted" type="submit" mat-raised-button color="primary">
              Save
            </button>
            <button mat-raised-button color="warn" (click)="onCancel()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5 col-sm-12" *ngIf="productForm.get('title').value">
      <product-card [fg]="productForm"></product-card>
    </div>
  </div>
</div>
