<button mat-raised-button color="accent">Help</button>
<button mat-raised-button color="warn">Help</button>
<button mat-raised-button color="primary">Help</button>

<mat-form-field appearance="outline" class="example-full-width">
  <mat-label>Username</mat-label>
  <span matPrefix
    ><i class="material-icons">
      school
    </i></span
  >
  <input type="text" name="username" [(ngModel)]="username" matInput required />
  <mat-hint>Type a unique username.</mat-hint>
  <span matSuffix
    ><i class="material-icons">
      person
    </i></span
  >
  <mat-error>Username is <strong>required!</strong></mat-error>
</mat-form-field>
