a {
  cursor: pointer;
}
.fixed-top {
  z-index: 999 !important;
}

.mat-badge-medium.mat-badge-after .mat-badge-content {
  right: -10px !important;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: -30px !important;
}

.badge-container {
  width: 20px;
}

.home > i:hover {
  color: #370097 !important;
}

.shop > i:hover {
  transform: scale(1.5);
  transition-duration: 500ms;
}
.name {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navbar-nav {
    float: left;
    flex-direction: row !important;
  }
  ul {
    padding: 0;
    margin: 0;
  }
}

