<div class="container-flush">
  <div class="desc-header">
    <div style="font-size: 30px; margin: 30px 0;">My Orders</div>
  </div>
  <div class="row">
    <div class="cont col-md-6 col-sm-12">
      <mat-list class="order-item font-weight-bold" style="padding: 10px 0; border-bottom: 1px solid gray">
        <div class="text-center">No</div>
        <div class="text-center">Date</div>
        <div>Total Price</div>
        <div></div>
      </mat-list>
      <ng-container *ngIf="!noData">
        <mat-list class="scrollable" style="background-color: #fff; box-shadow: 0 0 4px #fff;">
          <mat-list-item class="list-item animated fadeIn" *ngFor="let order of orders; let i = index">
            <div class="order-item">
              <div>{{ i + 1 }}</div>
              <div class="date-created">{{ order.created_on | date:'EEE, dd MMM yyyy, HH:mm'  }}</div>
              <div class="total-sum">{{ order.total_price | currency }}</div>
              <button mat-icon-button color="primary" (click)="showDescription(order.id)">
                <mat-icon>description</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-container *ngIf="noData">
        <div class="font-weight-bold text-center m-5 col-md-6 col-sm-12" style="min-height: 100px;">
          <div><i class="material-icons" style="font-size: 50px;">
              assignment
            </i></div>
          <div>
            <p style="color: darkred;"> You don't have any order yet.</p>
          </div>
        </div>
      </ng-container>



    </div>
    <div class="col-md-6 col-sm-12 animated zoomIn" *ngIf="showDescPanel">
      <div class="details-bar">
        <div style="margin: 10px 0; font-size: 20px; text-align: center; font-weight: bold;">Purchase Details</div>
        <div class="scrollable">
          <div *ngFor="let item of orderDetails">
            <div class="description-container">
              <div class="text-left">{{ item.title }}</div>
              <div class="text-right">{{ item.price | currency }}</div>
              <div class="text-right">x{{ item.quantity }}</div>
              <div class="text-right">{{ item.price * item.quantity | currency }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
