.order-item {
  display: grid;
  grid-template-columns: 0.3fr 2fr 1fr 1fr;
  grid-column-gap: 10px;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.scrollable {
  width: 100%;
  max-height: 24rem;
  scroll-behavior: initial;
  overflow-y: scroll;
  cursor: pointer;
}

.list-item:hover {
  background-color:#f1f1f1;
}

.description-container {
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr 1fr;
  grid-column-gap: 10px;
  padding: 10px;
}

.desc-header {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 28px;
  padding: 0 60px;
}
.cont {
  padding: 0 80px;
}
.details-bar {
  padding: 10px 20px;
  margin: 40px 50px 0;
  box-shadow: 0 0 2px gray;
  border-radius: 4px;
  background-color: ghostwhite;
}


@media screen and (max-width: 600px){
  .cont {
    padding: 0;
    margin: 0 20px;
  }
  .details-bar {
    margin: 10px;
  }
  .desc-header {
    padding: 0 5px;
    font-size: 20px;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px){
  .cont {
    padding: 0;
    margin: 0 20px;
  }
  .details-bar {
    margin: 10px;
  }
  .desc-header {
    padding: 0 5px;
    font-size: 20px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1e88e5;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #176eb9;
  cursor: pointer;
}
