.container {
  padding: 20px;
  box-shadow: 0 0 4px white;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
}

.success {
  background: url('/assets/img/tick.png') no-repeat center;
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
}

.error {
  background: url('/assets/img/error.png') no-repeat center;
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
}

.warning {
  background: url('/assets/img/warning.png') no-repeat center;
  background-size: 100px 100px;
  height: 100px;
  width: 100px;
}


