<div class="container" #content>
  <ng-container *ngIf="status === 'success'">
    <div class="d-flex justify-content-center align-items-center">
      <div class="success"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="status === 'error'">
    <div class="d-flex justify-content-center align-items-center">
      <div class="error"></div>
    </div>
  </ng-container>
  <ng-container *ngIf="status === 'warn'">
    <div class="d-flex justify-content-center align-items-center">
      <div class="warning"></div>
    </div>
  </ng-container>
  <div class="text">{{ message }}</div>
  <div class="footer">
    <button mat-raised-button color="primary" (click)="close()">Close</button>
  </div>
</div>
