.container {
  padding: 20px;
  box-shadow: 0 0 4px white;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid gray;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

.image img {
  width: 100px;
  height: auto;
}
