<div class="container">
  <div class="row">
    <div class="col-md-12 shadow-lg rounded m-5 p-5">
      <div class="col-md-6 col-sm-12 input-container">
        <mat-form-field>
          <input matInput type="text" placeholder="Title" />
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix>attach_money</mat-icon>
          <input matInput type="number" placeholder="Price" />
        </mat-form-field>
        <mat-form-field>
            <select type="number" placeholder="Price" />
          </mat-form-field>
      </div>
    </div>
  </div>
</div>
