* {
  box-sizing: border-box;
}

.product-card {
  min-height: 400px;
  margin: 10px;
}

.product-card > img {
  min-height: 250px;
  height: 250px;
  padding: 5px;
}

.cards-container {
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  grid-column-gap: 10px;
  margin: 10px 10px;
  /* box-shadow: 0 0 3px #666; */
  /* border-radius: 4px; */
  /* float: left; */
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
  margin: 0 10px;
}

mat-card {
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.2),
    0px 1px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
mat-card-title {
  font-size: 16px;
}

mat-sidenav-container {
  min-height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 10px;
  min-height: 100%;
}

mat-sidenav {
  width: 20%;
  min-width: 250px;
}

.mat-paginator-container {
  box-shadow: 0 0 2px 2px #666;
}
