.example-card {
  width: 310px;
  min-height: 450px;
}

.example-card > img {
  width: 300px;
  min-width: 300px;
  min-height: 250px;
  height: 250px;
  padding: 5px;
  box-sizing: border-box;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
