.box {
  background-color: #673ab7;
  margin: -10px -10px;
  padding: 10px;
  color: white;
}

ul {
  list-style-type: none;
  display: inline;
}

.icon {
  font-size: 30px;
  padding: 10px;
}

a {
  color: white;
}
a:hover {
  color: #370097;
}
.author {
  font-size: 18px;
}

.flex {
  display: flex;
}

@media screen and (max-width: 600px){
  .flex {
    display: block;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px){
  .flex {
    display: block;
  }
}

