<div class="container-flush">
  <div class="box">
    <div class="d-flex justify-content-center">
      <div class="w-100 text-center">
        <div>Contact</div>
        <div class="text-center">
          <div class="icon">
            <a href="https://www.facebook.com/rufet.gulabli" target="blank">
              <span style="padding: 5px; margin: 5px;"><i class="fab fa-facebook-square"></i></span>
            </a>
            <a href="https://github.com/RufatGulabli" target="blank">
              <span style="padding: 5px; margin: 5px;"><i class="fab fa-github"></i></span>
            </a>
            <a href="https://www.linkedin.com/in/rufat-gulabli-8203b1b4" target="blank">
              <span style="padding: 5px; margin: 5px;"><i class="fab fa-linkedin"></i></span>
            </a>
          </div>
        </div>
      </div>
      <div class="w-100 text-center p-3">
        <div>
          Created by <strong class="author">Rufat Gulabli</strong>
        </div>
        <div class="d-flex alighn-items-center justify-content-center">
          <i style="font-size: 20px; margin: 5px;" class="fas fa-envelope"></i>
          <span style="padding: 5px;">
            <strong> gulabli.rufat@gmail.com</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
